@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-white: hsl(0, 0%, 98%);

  --color-main: hsl(188, 68%, 9%);
  --color-secondary: hsl(4, 90%, 58%);
  --color-accent: hsl(151, 100%, 50%);
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}
.transition-slide {
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 1px 0 4px var(--color-accent);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 0.1rem;
}
.container {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#banner {
  background-image: url(/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
